<div class="row">
  <% @car_parts.each do |car_part| %>
    <div class="col-md-5">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= car_part["title"] %></h5>
          <p class="card-text">Maintenance Event Id: <%= car_part["maintenance_event_id"] %></p>
          <p class="card-text">: <%= car_part["car_part"] %></p>
          <a href="/client/car_parts/<%= car_part["id"] %>" class="btn btn-primary">More Info</a>
        </div>
      </div>


    </div>
  <% end %>
</div>