<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/client/maintenance_services", method: :post do %>
  <div>
    Service Id: <input type="text" name="service_id" value="<%= @maintenance_service['service_id'] %>" />
  </div>
  <div>
    Maintenance Event ID: <input type="text" name="maintenance_event_id" value="<%= @maintenance_service['maintenance_event_id'] %>">
  </div>
  <input type="submit" name="" value="Create Maintenance Service" />
<% end %>