<% if @user["cars"].length == 0 %>
  <a href="/client/cars/new">Add your first car</a>
<% else %>
  <% @user["cars"].each do |car| %>
    <h4>Year: <%= car["year"] %></h4>
    <h4>Make: <%= car["make"] %></h4>
    <h4>Model: <%= car["model"] %></h4>
    <h4>Mileage: <%= car["mileage"] %></h4>
  <% end %>
<% end %>