<!DOCTYPE html <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>FixMyRide</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/owl.theme.css" />
  <link rel="stylesheet" href="/css/owl.carousel.css" />
        <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="banner">
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="banner-overlay">
      <div class="banner-captoin">
        <h1>FixMyRide</h1>
        <h2></h2>
        <div class="border"></div>
        <p>COMPLETE AUTO SERVICES</p>
      </div>
      
      </div>
    </div>
    
         
    </div>
 </div>

<nav class="navbar navbar-default nav-pills nav-stacked" data-spy="affix" data-offset-top="197">
        <div class="container-fluid">
    <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user_profile"><img src="/img/logo.png" alt=""></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pullleft">
            
                    <li> <a href="/client/cars/">My Cars</a> </li>
                    <li> <a href="#">Search Parts</a></li>
                    <li> <a href="#">Troubleshooting</a></li>
                    <li> <a href="#">How To</a></li>
  
                            
                        
    </ul>
            <ul class="navbar-right top-social">
        <li><a href="https://github.com/conradszklarz"><i class="fa fa-github"></i></a></li>
        <li><a href="https://medium.com/@conradszklarz"><i class="fa  fa-medium"></i></a></li>
        <li><a href="https://www.linkedin.com/in/conrad-szklarz-1a44a576/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </div>
        </div>
      </nav>
<section class="welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 numbers  wow animated fadeInUp animated animated animated animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="car-service-title"> </div>
      </div>
      <div class="col-md-6 col-sm-6 nopadding  wow animated fadeInUp animated animated animated animated" data-wow-delay="2.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="title">Welcome To The Workshop</div>
      <div class="clearfix"></div>
      <div class="text margint30 ">
      <p>. </p></div>
      </div>
      <div class="col-md-4 col-sm-4  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <img src="/img/img1.jpg" class="img-responsive" alt="" />
      
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 margint30"><img src="/img/img2.jpg" class="img-responsive" alt="" /></div>
      <div class="col-md-4 col-sm-4 margint30"><img src="/img/img3.jpg" class="img-responsive" alt="" /></div>
    </div>
  </div>
</section>
<section class="car-service">
  <div class="container">
    <div class="row">
      <div class="col-md-0 col-sm-0  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item"><img src="/img/img4.jpg" alt="The Last of us"></div>
          <div class="item"><img src="/img/img4.jpg" alt="The Last of us"></div>
          <div class="item"><img src="/img/img4.jpg" alt="The Last of us"></div> 
        </div>
      </div>
    <div class="col-md-0 col-sm-0 nopadding  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">




  <div class="container main-content">

    <% if @jwt %>        
      <a href="/logout" data-method="delete">Log Out</a>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    <% end %>

    <%= yield %>

  </div>



      
<section class="schdule">
  <div class="container">
    <div class="row">
      <div class="col-md-0 col-sm-0  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="car-service-title"></div>
        
    </div>
    </div>
    <div class="row">
      <div class="col-md-0 col-sm-0 form text-center  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        </div>
        </div>
        
            
            </div>
              
            </div>
          </div>
        </div>
          <div class="form-group"> 
          
        </div>
      
      </div>
    </div>
    </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="car-service-title" style="color:#485560;"></div>
    <div class="title-right white">WHAT OUR <br /> CLIENTS SAY</div>
  
    </div>
    </div>
    <div class="row">
    <div class="col-md-4 col-sm-4 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <div class="box">
        <div class="quote text-center"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
        <p> "Exactly what I wanted. Easy and simple. I have an older car so this will help me get even more miles out of it cause it can keep track of maintenance way easier. Thanks FixMyRide!"</p>
        <div class="author text-center">-- Lauren Hall --</div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="box">
    <div class="quote text-center"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
      <p> "Amazing app! Easy to set up. The app is super cool and very intuitive. And I love how it explains things in plain english – no technical nonsense. And since I’m always forgetting oil changes and tune up appointments, this is going to be super helpful."</p>
      <div class="author text-center">-- Jack Barnes --</div>
    </div>
    </div>
    <div class="col-md-4 col-sm-4  wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="box">
    <div class="quote text-center"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
      <p> "Bought this for my mom for help with car problems since I'm far away. It took no time to sign in and the app is very easy to understand. Very impressed with how easy it is to use."</p>
      <div class="author text-center">-- Mark Watts --</div>
    </div>
    </div>
    </div>
  </div>
</section>


<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 nopadding">
        <h4>About Us </h4>
        <p>Cars are not only tools that we use to get us to our destination, but they are also investments. We at FixMyRide help you to remember to stay current on your car/s maintenance needs to ensure you get to your destination safely, and to significantly lower chances of getting stranded far away from home.</p>
      </div>
      <div class="col-sm-3 recent">
      <h4>Recent Post </h4>
      <ul>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> I love this app!</li>
        <hr />
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Where have you been all my life! </li>
        <hr />
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Peace of mind knowing my family will have safe and reliable transportation.</li>
        <hr />
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> I'm going to show everyone I know.</li>
      </ul>
      </div>
      <div class="col-sm-3 footer-gallery">
      <h4>Media Gallery</h4>
        <ul>
          <li><img src="/img/gallery1.jpg" /></li>
          <li><img src="/img/gallery2.jpg" /></li>
          <li><img src="/img/gallery3.jpg" /></li>
          <!-- <li><img src="/img/gallery1.jpg" /></li>
          <li><img src="/img/gallery2.jpg" /></li>
          <li><img src="/img/gallery3.jpg" /></li>
          <li><img src="/img/gallery1.jpg" /></li>
          <li><img src="/img/gallery2.jpg" /></li>
          <li><img src="/img/gallery3.jpg" /></li> -->
        </ul>
      
      
      </div>
      <div class="col-sm-3">
      <h4>Contact Info </h4>
      <div class="address">
       <p><i class="fa fa-home"></i> &nbsp;&nbsp;&nbsp; Lemont, IL. </p>
       <p><i class="fa fa-phone"></i> &nbsp;&nbsp; <a href="#">(219)677-4256</a></p>
       <p><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; <a href="#">conradszklarz@gmail.com </a></p>
      </div>
      </div>
    </div>
    </div>
  </div>
<div class="terms">
  <div class="container"> 
  <span class="pull-left"> &copy; 2016 All Rights Reserved. Terms of Use and Privacy Policy</span> 
  <span class="pull-right"> 
    <a href="https://github.com/conradszklarz"><i class="fa  fa-github"></i></a>
    <a href="https://medium.com/@conradszklarz"><i class="fa fa-medium"></i></a> 
    <a href="https://www.linkedin.com/in/conrad-szklarz-1a44a576/"><i class="fa fa-linkedin"></i></a>  
  </span>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>

     
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/owl.carousel.min.js"></script>



    <script type="text/javascript">
    $(document).ready(function() {
     
      $("#owl-demo").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true
     
          "singleItem:true" is a shortcut for:
          items : 1, 
          itemsDesktop : false,
          itemsDesktopSmall : false,
          itemsTablet: false,
          itemsMobile : false
     
      });
     
    });
    </script> 
    <script>
                   $(function(){
        $(".dropdown").hover(            
                function() {
                    $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");                
                },
                function() {
                    $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                    $(this).toggleClass('open');
                    $('b', this).toggleClass("caret caret-up");                
                });
                
                $('.pop_service_sec').click(function(){
                    var id = $(this).attr('data-id');
                    $('.overlay-content').css('display','none')
                    $('#'+id).css('display','block');
                    
                });
        });
        
    </script>

      
    </body>
  </html>